<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>找人</title>
	<link rel="stylesheet" type="text/css" href="bulma.css">
	
</head>
<body>
	<div id="choice" class="section">
	  <div class="container">
	    <div class="notification">
	        <!-- 搜索 -->
	        <div class="box">
	        <!-- 帅选内容 -->
		        <div class="block">
		          <a class="button is-primary" v-if="seen_band" v-on:click="getBand"> 区人员 </a>
		          <a class="button" v-if="seen_dept" v-on:click="getDept('显示部门人员')">部门人员</a>
		          <a class="button" v-if="seen_org" v-on:click="getOrg">机构人员</a>
		          <a class="button" v-if="seen_cus" v-on:click="getCus">客户</a>
		          <a class="button" v-if="seen_part" v-on:click="getPart">平台</a>
		        </div>
	          <div class="control is-grouped block">
	            <p class="control is-expanded">
	              <input v-focus @keyup.enter="search_some" v-model="searchValue" class="input" type="text" placeholder="输入相关人员信息进行搜索...">
	            </p>
	            <p class="control">
	              <a class="button is-success" @click="search_some">
	                查找
	              </a>
	            </p>
	          </div>

	          <div class="tile is-ancestor">
	            <!-- 人员、角色 备选区 -->
	            <div class="tile is-4 is-parent">
	              <div class="tile is-child">
	                  <nav class="panel">
						  <p class="panel-heading">
						  	角色列表
						  </p>
						  <a class="panel-block has-text-centered" href="#">
						    开发员
						  </a>
						  <a class="panel-block has-text-centered" href="#">
						    开发主管
						  </a>
	                      <p class="panel-heading">
						    人员列表
						  </p>
						  <a class="panel-block has-text-centered" href="#">
						    李大福
						  </a>
						  <a class="panel-block has-text-centered" href="#">
						    李大福
						  </a>
						  <a class="panel-block has-text-centered" href="#">
						    李大福
						  </a>
						  <a class="panel-block has-text-centered" href="#">
						    李大福
						  </a>
						  <a class="panel-block has-text-centered" href="#">
						    李大福
						  </a>
						</nav>
	              </div>
	            </div>

	            <div class="tile is-parent">
				    <div class="tile is-child box">
				      <p class="subtitle">已选人员</p>
				      <a class="tag is-primary is-medium">李大福</a>
				      <a class="tag is-primary is-medium">李大福</a>
				      <a class="tag is-primary is-medium">李大福</a>
				    </div>
			  	</div>

	          </div><!-- tile -->

	        </div> <!-- box -->
	        <div class="columns is-mobile">
	          <div class="column is-2 is-offset-10">
	            <a class="button is-danger">确定</a>
	          </div>
	        </div>
	    </div><!-- notification -->
	  </div><!-- container -->
	</div><!-- section -->
	
	<script src="vue.js"></script>
	<script src="choice.js"></script>
</body>
</html>