<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../bulma.css">
	<link rel="stylesheet" href="../fa/css/font-awesome.css">
	<link rel="stylesheet" href="setting.css">

<body>
	<div id="app">
		<section class="section">
			<div class="container">
				<transition >
					<router-view></router-view>
				</transition>
			</div>
		</section>
		
		<transition 
		  v-on:leave="leave" >
			<div class="notice" 
			  v-if="show_notic">
				<div class="notification" 
				  v-bind:class="{'is-danger':isWrong,'is-success':!isWrong}">
				  <button class="delete" @click="fadeTips"></button>
				  {{noticTips}}
				</div>
			</div>
		</transition>

	</div>

	<template id="ps">
			<div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child">
					<nav class="panel" style="position: fixed;z-index: 1000;">
					  <p class="panel-heading">
					    修改个人账号信息
					  </p>
					  <a href="javascript:void(0)" @click="scroll('#edit_profile')" class="panel-block is-active">
					    <span class="panel-icon">
					      <i class="fa fa-id-card"></i>
					    </span>
					    修改资料
					  </a>
					  <a href="javascript:void(0)" class="panel-block" @click="scroll('#reset_pwd')">
					    <span class="panel-icon">
					      <i class="fa fa-unlock-alt"></i>
					    </span>
					    重置密码
					  </a>
					  <a href="javascript:void(0)" @click="scroll('#authen')" class="panel-block">
					    <span class="panel-icon">
					      <i class="fa fa-check-square-o"></i>
					    </span>
					    增加认证信息
					  </a>
					  <a href="javascript:void(0)" class="panel-block">
					    <span class="panel-icon">
					      <i class="fa fa-question-circle"></i>
					    </span>
					    在线客服
					  </a>
					  <div class="panel-block">
					    <button class="button is-primary is-outlined is-fullwidth">
					      <router-link to="/">预览个人信息</router-link>
					    </button>
					  </div>
					</nav>
				</article>
				</div>
				<div class="tile is-parent is-9 content">
					<article class="tile is-child">
						<h1 class="tile" id="edit_profile">个人资料</h1>
						<div class="content hero" style="border-radius: 0.4em;">
							<div class="hero-body">
								<div class="container">
									<div class="columns">
									  <div class="column is-two-thirds">
										<label class="label">账号名称</label>
										<p class="control">
										  <input disabled class="input" type="text" 
										  v-bind:placeholder="useraccount">
										</p>
										<label class="label">用户名称</label>
										<p class="control has-icon has-icon-right">
										  <input class="input" type="text" placeholder="其他用户能记住你的名字" 
										  v-bind:value="userName" 
										  v-bind:class="{'is-success':uaIsUsed, 'is-danger':!uaIsUsed}"
										  v-model="userName">
										  <span class="icon is-small">
										    <i class="fa"
										      v-bind:class="{'fa-check': uaIsUsed,'fa-warning': !uaIsUsed}"></i>
										  </span>
										  <span class="help" 
 											v-bind:class="{'is-success':uaIsUsed, 'is-danger': !uaIsUsed}"
										  >{{unNotice}}</span>
										</p>
										<label class="label">你所在地址</label>
										<p class="control">
										  <input class="input" type="text"
										  v-bind:value="local" 
										  v-model="local">
										</p>
										<label class="label">简介</label>
										<p class="control">
										  <textarea class="textarea" placeholder="输入个人简介" 
										  v-bind:value="bio" 
										  v-model="bio"></textarea>
										</p>
									  </div>
									  <div class="column">
										<label class="label">编辑头像</label>
										<figure class="image is-128x128">
										  <input type="file" style="opacity:0;width: 128px;height: 128px;position: absolute;cursor: pointer;" title="点击选择新头像">
										  <img src="img.jpg">
										</figure>
									  </div>
									</div>
								</div>
							</div>
						</div>
					    <button class = "button is-primary" 
					    	v-bind:disabled = "isProfilEdited"
					    	>确定修改</button>

						<h1 class="tile" id="reset_pwd">重置密码</h1>
						<div class="content hero" style="border-radius: 0.4em;">
							<div class="hero-body">
								<div class="container">
									<div class="control is-horizontal">
									  <div class="control-label">
									    <label class="label">旧密码</label>
									  </div>
									  <div class="control has-icon has-icon-right">
									      <input class="input" type="password" placeholder="请输入旧密码" 
									        v-bind:class="{'is-danger':!isWrongPwd}" 
									        v-bind:disabled="oldIsCheck"
									        @blur="checkPwd" 
									        v-model.trim="old_pwd">
									      <span class="icon is-small" 
									        v-if="show_check_icon">
											<i class="fa" 
											v-bind:class="{'fa-check':isWrongPwd, 'fa-warning':!isWrongPwd}"></i>
									      </span>
									  </div>
									</div>
									<div class="control is-horizontal">
									  <div class="control-label">
									    <label class="label">新密码</label>
									  </div>
									  <div class="control">
									      <input class="input" type="password" placeholder="请输入新密码" 
									      v-model.trim="new_pwd" 
									      v-bind:disabled="isNewPwd"
									      @blur="isCorrect('checkPwd')">
									  </div>
									</div>
									<div class="control is-horizontal">
									  <div class="control-label">
									    <label class="label">重复密码</label>
									  </div>
									  <div class="control has-icon has-icon-right">
									      <input class="input" type="password" placeholder="重新输入新密码" 
									      v-model.trim="cNew_pwd" 
									      v-bind:disabled="isNewPwd"
									      @blur="isCorrect('checkNewPwd')">
									      <span class="icon is-small" 
									        v-if="show_correct_icon">
									        <i class="fa fa-check"></i></span>
									  </div>
									</div>
								</div>
							</div>
						</div>
				        <button class="button is-primary" 
				          v-bind:disabled="isNewPwd" 
				          @click="saveNewPwd">
				          确定修改</button>
						
						<h1 class="tile" id="authen">认证信息</h1>
						<div class="content hero" style="border-radius: 0.4em;">
							<div class="hero-body">
								<div class="container">
									<div class="columns">
									  <div class="column is-2 shield_poi">
								      	<span class="icon is-medium"><i class="fa fa-shield"></i></span>
									  </div>
									  <div class="column is-6">
									    <p class="notification">
											<strong>账号：</strong> {{useraccount}}
									    </p>
									  </div>
									  <div class="column">
									    <p class="notification">
											<span class="icon" style="color:#23d160"><i class="fa fa-check"></i></span>
									    </p>
									  </div>
									</div>

									<div class="columns">
									  <div class="column is-2 shield_poi">
								      	<span style="color:#3273dc" class="icon is-medium"><i class="fa fa-shield"></i></span>
									  </div>
									  <div class="column is-5">
									    <p class="notification control has-addons">
									    	<!-- <strong>手机号码：</strong> {{phoneNO}} -->
									          <input type="text" class="input" placeholder="输入手机号码">
									          <a href="javascript:void(0)" class="button is-primary" title="点击获取验证码" 
									            v-bind:disabled="reSend" 
									            @click="countSecond">
									            {{ time }}
									          </a>
											
									    </p>
									  </div>
									  <div class="column is-3">
									    <p class="notification">
									    <!-- <span class="icon" style="color:#23d160"><i class="fa fa-check"></i></span> -->
									    <input class="input" type="text" placeholder="验证码">
									    </p>
									  </div>
									  <div class="column">
									    <p class="notification">
									    <a class="button is-primary" 
									      @click="modifyData">修改</a></p>
									  </div>

									</div>

									<div class="columns">
									  <div class="column is-2"></div>
									  <div class="column is-6">
									    <p class="notification">
									    	<strong>电子邮箱：</strong> {{eMail}}
									    </p>
									  </div>
									  <div class="column">
									    <p class="notification" style="color:#ffdd57"><span class="icon"><i class="fa fa-exclamation-triangle"></i></span></p>
									  </div>
									  <div class="column">
									    <p class="notification"><a 
									      @click="VerifyData">验证</a></p>
									  </div>
									</div>

									<div class="columns">
									  <div class="column is-2 shield_poi">
								      	<span style="color:#ff2b56"  class="icon is-medium"><i class="fa fa-shield"></i></span>
									  </div>
									  <div class="column is-6">
									    <p class="notification"><strong>身份证号：</strong> {{ID}}</p>
									  </div>
									  <div class="column">
									    <p class="notification">
									      <span class="icon" style="color:#23d160"><i class="fa fa-check"></i></span>
									    </p>
									  </div>
									</div>

									<div class="columns">
									  <div class="column is-2 shield_poi">
								      	<span style="color:#ce38ff" class="icon is-medium"><i class="fa fa-shield"></i></span>
									  </div>
									  <div class="column is-1">
									      <figure class="image is-48x48">
											<img src="img.jpg">
										  </figure>
									  </div>
									  <div class="column is-1">
									      <figure class="image is-48x48">
											<img src="img.jpg">
										  </figure>
									  </div>
									  <div class="column" style="padding-top: 1rem;">
									  	<span class="icon is-large"><a class="fa fa-plus-square-o"></a></span>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
		  </div>

	</template>

	<template id="pi">
	  <div id="posi">
			<div class="tile is-ancestor">
			  <div class="tile is-4 is-vertical is-parent">
			    <div class="tile is-child" style="border-bottom: 1px solid #ece8e8;">
		          <figure class="image is-3by2">
		            <img src="img.jpg" style="border-radius: 0.4em;width: 70%;left:10%">
		          </figure>
			      <div class="hero-body" style="padding: 1rem;">
			        <div class="container">
			          <h1 class="title" style="margin-bottom: 0.5rem;">
			            {{ userName }}
			          </h1>
			          <h1 class="authentication heig_class_atc">{{level}}</h1>
			          <h2 class="subtitle">
			            @{{useraccount}}
			          </h2>
			          <blockquotes class="subtitle is-6" style="color: darkgray;">
			        	{{bio}}
			          </blockquotes>
			        </div>
			      </div>
			    </div>
			    <div class="tile is-child">
			      <div class="content">
		            <span class="icon">
		              <i class="fa fa-clock-o"></i>	
		            </span>
		            <span>{{registerDate}}</span>
		          </div>
			      <div class="content">
			    	<span class="icon">
		              <i class="fa fa-map-marker"></i>	
		            </span>
		            <span>{{local}}</span>
			      </div>
				  <div class="content">
				  	<span class="icon">
				  	  <i class="fa fa-building"></i>
				  	</span>
				  	<span>{{organization}}</span>
				  </div>
				  <div class="content" style="border-top: 1px solid #ece8e8;">
				  	<div class="edit_btn">
			  		  <a class="button">
				        <span class="icon"><i class="fa fa-pencil-square-o"></i></span>
				        <span><router-link to="/setting">修改基础信息</router-link></span>
				  	  </a>
				  	</div>
				  	<div class="edit_btn">
					  <a class="button">
					    <span class="icon"><i class="fa fa-unlock-alt"></i></span>
					    <span><router-link to="/setting">重置安全信息</router-link></span>
					  </a>
				  	</div>
				  	<div class="edit_btn">
					  <a class="button">
					    <span class="icon"><i class="fa fa-check-square-o"></i></span>
					    <span><router-link to="/setting">增加认证信息</router-link></span>
					  </a>
				  	</div>
				  </div>
			    </div>
			  </div>
			  <div class="tile is-parent">
			    <div class="tile is-child content">
				  <h4><em>账号默认配置</em></h4>
				  <hr>
				  <div class="container">
					<div class="notification is-warning">
					   <small> 介绍下什么是 <strong> 「默认单位」</strong> ？</small>
					</div>
				  	<div class="control is-horizontal">
					  <div class="control-label">
					    <label class="label">当前默认单位</label>
					  </div>
					  <div class="control">
					    <div class="select is-fullwidth">
					      <select>
					        <option>华南理工大学</option>
					      </select>
					    </div>
					  </div>
					</div>
					<div class="notification is-warning">
					    <small>说说什么是 <strong> 「默认打开帮区」</strong> ？</small>
					</div>
					<div class="control is-horizontal">
					  <div class="control-label">
					    <label class="label">默认打开帮区</label>
					  </div>
					  <div class="control">
					    <div class="select is-fullwidth">
					      <select>
					        <option>B8实验室</option>
					      </select>
					    </div>
					  </div>
					</div>
					<div class="content">
						<hr>
						<h4><em>账号认证信息</em></h4>
						<hr>
						<ul>
					      <li><label>用户账号：</label>{{useraccount}}</li>
					      <li><label>手机号码：</label>{{phoneNO}}</li>
					      <li><label>电子邮箱：</label>{{eMail}}</li>
					      <li><label>身份证号：</label>{{ID}}</li>
					      <li><label>证件快照：</label><a href="">点击查看</a></li>
					    </ul>
					</div>
				  </div>
			    </div>
			  </div>
			</div>
	  </div>
	</template>
  	<script src="../vue.js"></script>
  	<script src="../vue-router.js"></script>
  	<script src="../velocity.js"></script>

	<script>
	  var userName = '张海涛'
	  var useraccount = 'zhanghaitao'
	  var bio = '一个勤勤恳恳种代码的农夫'
	  var registerDate = '11:09 PM - 1 Jan 2016'
	  var local = 'China, GuangDong'
	  var organization = 'South China University of Technology'
	  var phoneNO = '1367*****93'
	  var eMail = 'luc******@qq.com'
	  var ID = '44*************530'
	  var level = '高级认证'
	  var userNameCanUse = '果然是个好名字'
	  var userNameCantUse = '该名字已被使用'

		var persons = Vue.extend({
			template:'#ps',
			data: function(){
				return {
					userName: userName,
					useraccount: useraccount,
					local: local,
					bio: bio,
					old_pwd: '',
					new_pwd: '',
					cNew_pwd:'',
					phoneNO: phoneNO,
					eMail: eMail,
					ID: ID,
					isProfilEdited:true,
					uaIsUsed:'',
					unNotice: userNameCanUse,
					isNewPwd:true,
					isWrongPwd:true,
					show_check_icon:false,
					show_correct_icon:false,
					new_pwd_correct:'0',
					new_cpwd_same:'0',
					oldIsCheck:false,
					time:'60',
					reSend:false,
					interval:''
				}
			},
			watch:{//监听，如果该项有改变，则触发保存按钮
				userName : function(new_name){
					this.isProfilEdited = false
					this.uaIsUsed = false
					this.unNotice = userNameCantUse
				},
				local: function(new_local){
					this.isProfilEdited = false
				},
				bio: function(new_bio){
					this.isProfilEdited = false
				},
				new_pwd:function(){
					if('' != this.cNew_pwd){
						this.isCorrect('checkNewPwd')
					}
				}
			},
			methods:{
				scroll:function(se){
		        	var anchor = this.$el.querySelector(se)
		        	Velocity(anchor,"scroll", {
					  duration: 600
					});
				},
				checkPwd:function(){
					//验证用户的密码，验证成功后，解锁‘修改按钮’
					if(this.old_pwd){//验证用户操作是否正确
						if(true){//验证密码是否正确，正确则通过并
							this.show_check_icon = true;
							this.isWrongPwd = true;
							this.isNewPwd = false;
							this.oldIsCheck = true;
						}else{//不正确，提示用户重新输入，设置danger样式
							this.show_check_icon = true;
							this.isWrongPwd = false;
							rou.show_notic = true;
							setTimeout('rou.show_notic = false', 5000)
						}
					}
				},
				isCorrect:function(type){
					var a = '';
					var b = this.new_pwd;
					if(type == 'checkNewPwd'){
						a = this.cNew_pwd
						rou.noticTips = '两次输入密码不一致';
						if(a == b){
							this.show_correct_icon = true
							this.new_cpwd_same = '1'
						}else{
							rou.isWrong = true
							this.new_cpwd_same = '0'
							rou.show_notic = true;
			        		setTimeout('rou.show_notic = false',5000)
						}
					}else if(type == 'checkPwd'){
						a = this.old_pwd;
						rou.noticTips = '新旧密码不能相同';
						if(a == b){
							rou.isWrong = true
							rou.show_notic = true;
			        		setTimeout('rou.show_notic = false',5000)
			        		this.new_pwd_correct = '0'
						}else{
							this.new_pwd_correct = '1'
						}
					}
				},
				saveNewPwd: function(){
					var flg = Number(this.new_pwd_correct) + Number(this.new_cpwd_same)//1+1
					if(2 == flg){//保存密码，并清空
						this.new_pwd = this.cNew_pwd = this.old_pwd = '';//清空
						this.show_correct_icon = this.show_check_icon = this.oldIsCheck = false
						this.new_pwd_correct = this.new_cpwd_same = '0'
						this.isNewPwd = true
						rou.isWrong = false
						rou.noticTips = '密码重置成功！'
						rou.show_notic = true
		        		setTimeout('rou.show_notic = false',5000)
					}else if(1 == flg){
						if(this.new_pwd_correct == '1'){
							rou.noticTips = '两次输入密码不一致';
						}else if(this.new_cpwd_same == '1'){
							rou.noticTips = '新旧密码不能相同'
						}
						rou.isWrong = true
						rou.show_notic = true;
		        		setTimeout('rou.show_notic = false',5000)
					}	
				},
				modifyData:function(){
					console.log('ddd')
				},
				VerifyData:function(){
					console.log('ttt')
				},
				countSecond:function(){
					this.time = 60
					this.reSend = true
					this.interval = setInterval(this.countdown,1000)
				},
				countdown:function(){
					console.log('w')
					if(this.time > 0){
						this.time --
					}else{
						this.time = '重新获取'
						this.reSend = false
						clearInterval(this.interval)
					}
				}
			}
		})

		var personi = Vue.extend({
			template:'#pi',
			data: function(){
				return{
					userName: userName,
					useraccount: useraccount,
					bio: bio,
					registerDate: registerDate,
					local: local,
					organization: organization,
					phoneNO: phoneNO,
					eMail: eMail,
					ID: ID,
					level: level
				}
			},
			methods:{
				
			}
		})

		var routes = [
			{path:'/', component: personi},
			{path:'/setting', component: persons}
		]

		var router = new VueRouter({
			routes :routes
		})

		var rou = new Vue({
			router: router,
			data:{
				isWrong:false,
				noticTips:'旧密码不正确',
				show_notic:false
			},
			methods:{
				fadeTips: function(){
					this.show_notic = false
				},
				leave: function (el, done) {
			        Velocity(el,{
					    translateX: "200px",
					    rotateZ: "45deg"
					})
				}
			}
		}).$mount('#app')

	</script>
</body>

</html>