.authentication{
    width: 150px;
    top: -20px;
    left: 90px;
	text-align: center;
    font-size: xx-large;
    position: absolute;
    margin: 0.1em;
    border: 0.5rem solid;
    transform: rotate(348deg)
    -ms-transform:rotate(348deg); 	/* IE 9 */
	-moz-transform:rotate(348deg); 	/* Firefox */
	-webkit-transform:rotate(348deg); /* Safari 和 Chrome */
	-o-transform:rotate(348deg); 	/* Opera */
}
.notice{
    position: fixed;
    width: 200px;
    top: 100px;
    right: 5px;
    z-index: 200;
}

.heig_class_atc{
	color: rgba(247, 0, 228, 0.42);
	border: 0.5rem solid rgba(247, 0, 228, 0.25);
}

.edit_btn{
	padding: 1rem 0 0 0;
}

section{
	background: -webkit-linear-gradient(left top, rgb(230, 255, 202) , rgb(255, 207, 173)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, rgb(230, 255, 202), rgb(255, 207, 173)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(230, 255, 202), rgb(255, 207, 173)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, rgb(230, 255, 202) , rgb(255, 207, 173)); /* 标准的语法（必须放在最后） */
}

.shield_poi{
    text-align: center;
    padding-top: 1.5rem;
}

.is_level{
    background-color: #ffdd57;
    border-radius: 5px;
}
@media screen and (min-width: 1192px){}
	.hero-body {
	   	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    padding: 3rem 1.5rem;
	}
}

